*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grey: hsl(217, 12%, 63%);
  --clr-medium-grey: hsl(216, 12%, 54%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  --ff-default: 'Overpass', sans-serif;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto min-content;
  place-items: center;
  font-family: var(--ff-default);
  background-color: var(--clr-very-dark-blue);
  padding-inline: 1.5rem;
}

p {
  font-size: clamp(0.875rem, 3vw, 0.938rem);
}

.hidden {
  display: none !important;
}

/* Cards */
.card {
  width: min(calc(100vw - 3rem), 26rem);
  min-height: clamp(22.5rem, 10vw, 26.25rem);
  background-image: radial-gradient(at top, var(--clr-dark-blue), hsl(215, 27%, 12%));
  border-radius: clamp(1rem, 3.5vw, 1.75rem);
  padding: clamp(1.5rem, 5vw, 2rem);
  margin-inline: auto;
}

.card__title {
  color: var(--clr-white);
  font-size: clamp(1.375rem, 5vw, 1.75rem);
  margin-block: clamp(1.375rem, 5vw, 2.063rem) clamp(0.625rem, 5vw, 0.875rem);
}

.card__message {
  color: var(--clr-medium-grey);
  line-height: 1.6em;
}

/* Rating Card */
.rating__icon-container {
  width: clamp(2.5rem, 7.5vw, 3rem);
  height: clamp(2.5rem, 7.5vw, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
}

.rating__radios {
  display: flex;
  justify-content: space-between;
  margin-block: 1.625rem 1.875rem;
}

.rating__label {
  width: clamp(2.625rem, 10vw, 3.25rem);
  height: clamp(2.625rem, 10vw, 3.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--ff-default);
  font-weight: 700;
  color: var(--clr-light-grey);
  background-color: var(--clr-dark-blue);
  border-radius: 50%;
  padding-block-start: 0.25rem;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
}

.rating__label:hover {
  color: var(--clr-white);
  background-color: var(--clr-orange);
}

.rating__radio {
  position: absolute;
  opacity: 0;
}

.rating__radio:checked + .rating__label {
  color: var(--clr-white);
  background-color: var(--clr-light-grey);
}

.rating__submit {
  width: 100%;
  height: 2.813rem;
  font-family: var(--ff-default);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.188em;
  color: var(--clr-white);
  background-color: var(--clr-orange);
  border: none;
  border-radius: 2rem;
  padding-block-start: 0.25rem;
  cursor: pointer;
  transition: background-color 200ms ease, color 200ms ease;
}

.rating__submit:hover,
.rating__submit:focus-visible {
  color: var(--clr-orange);
  background-color: var(--clr-white);
}

/* Thanks Card */
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 2.75rem;
}

.thanks__resume {
  color: var(--clr-orange);
  text-align: center;
  background-color: var(--clr-dark-blue);
  border-radius: 2rem;
  padding: 0.5rem 1.125rem 0.313rem;
  margin-block-start: 1.875rem;
}

.thanks .card__message {
  max-width: 21.25rem;
  text-align: center;
}

/* Footer */
.attribution {
  line-height: 1.6em;
  color: var(--clr-light-grey);
  text-align: center;
  padding-block: 1em;
}

.attribution a {
  color: var(--clr-medium-grey);
  text-decoration: none;
}

.attribution a:hover,
.attribution a:focus-visible {
  color: var(--clr-light-grey);
  text-decoration: underline;
}

.fa-heart {
  color: var(--clr-orange);
}

/* Media Queries */
@media (max-width: 319px) {
  .rating__radios {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 0.75rem;
    margin-block: 1.625rem 1.875rem;
  }
}

@media (min-width: 650px) {
  .card {
    min-height: 26.25rem;
  }
}
